<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumberGuess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>412261A41DB2C83E006F4FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412261B81DB2C83E006F4FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412261C31DB2C83E006F4FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
